body {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 700px;
  margin: auto;
}

.title {
  border: 3px solid blue;
  padding: 20px;
  font-size: 2rem;
}

.start-btn {
  margin-top: 20px;
  border: 2px solid red;
  color: red;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: white;
  cursor: pointer;
}

.hidden {
  display: none;
}

.timer {
  color: purple;
  font-size: 2rem;
  margin-bottom: 10px;
}

#questionBox {
  font-size: 1.5rem;
  margin: 20px 0;
  white-space: pre-line;
}

#answerInput, #userNameInput {
  width: 70%;
  padding: 10px;
  font-size: 1.3rem;
}

.next-btn {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

#finalScore {
  font-size: 2rem;
  color: green;
}

#review {
  font-size: 1rem;
  text-align: left;
  margin-top: 20px;
  line-height: 1.6;
}

.restart-btn {
  background-color: darkblue;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}
